body {
	background-color: #181A1B;
	color: #9F9684;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C2529;
}

li {
  float: left;
}

li a {
  display: block;
  color: #9F9684;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid #9F9684;
}
li a:hover {
  background-color: #9F9684;
  color: #181A1B;
}
main {
  max-width: 800px;
}
input[type=text] {
	background-color: #1C2529;
	width: 80%;
	padding: 7px 20px;
	margin: 5px 5px 15px;
	border: 2px solid #9F9684;
	border-radius: 6px;
	resize: none;
}
textarea {
	background-color: #1C2529;
	width: 80%;
    height: 180px;
	padding: 7px 20px;
	margin: 5px 5px 15px;
	border: 2px solid #9F9684;
	border-radius: 6px;
	resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #1C2529;
  border: none;
  color: #9F9684;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #9F9684;
  border-radius: 6px;
}
input:hover[type=button], input:hover[type=submit], input:hover[type=reset] {
  background-color: #9F9684;
  border: none;
  color: #1C2529;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  outline-style: solid;
}
